{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/autores/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>instituicao</th>
        </tr>
        {% for u in autores %}
        <tr>
            <td>{{u.nome}}</td>
            <td>{{u.instituicao}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}